.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.saudacao {
  font-size: 15vw;
  color: #dddddf;
  transition: color 0.4s ease, color 0.4s ease;
}

.botao {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .3rem .5rem;
  margin: 1rem;
  border: none;
  background-color: transparent;
  color: #dddddf;
}

.botao:hover {
  cursor: pointer;
  color: #F5E7CE;
  text-shadow: 0 0 2px #f5e7ce;
}
